node_modules/
dist/
.env
.env.local
.env.*.local

# Prisma
backend/prisma/migrations/*.sql.bak

# Angular
frontend/.angular/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
