<div class="calendar-wrapper">
  <div class="calendar-controls">
    <div class="nav-buttons">
      <button class="btn-outline font-small" mwlCalendarPreviousView [view]="'month'" [(viewDate)]="viewDate">
        ◀
      </button>
      <button class="btn-outline font-small" mwlCalendarToday [(viewDate)]="viewDate">
        Today
      </button>
      <button class="btn-outline font-small" mwlCalendarNextView [view]="'month'" [(viewDate)]="viewDate">
        ▶
      </button>
    </div>
    <div class="current-month">{{ viewDate | date: 'MMMM yyyy' }}</div>
  </div>

  <div class="calendar-view-container">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="onEventClicked($event)"
    >
    </mwl-calendar-month-view>
  </div>
</div>
